{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>All Blogs</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
  <p style="text-align:right;">
    Welcome, {{ user.username }} |
    <a href="{% url 'logout' %}">Logout</a>
  </p>
{% endif %}

  <div class="container">
    <h1>📚 All Blog Posts</h1>
    {% for post in posts %}
      <div class="blog-post">
        <h2><a href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <div class="meta">By {{ post.author }} | {{ post.created_at|date:"F j, Y" }}</div>
        <p>{{ post.content|truncatewords:30 }}</p>
      </div>
    {% empty %}
      <p>No blog posts available.</p>
    {% endfor %}
  </div>
</body>
</html>
