{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      <label>Username:</label><br>
      <input type="text" name="username" required><br><br>
      <label>Password:</label><br>
      <input type="password" name="password" required><br><br>

      <label>
        <input type="checkbox" name="remember_me" checked> Remember Me
      </label><br><br>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
  </div>
</body>

</html>